<div class="row-fluid wide fundcontainer">
  <!--<img src="img/fundcampaign_bg.jpg" class="fundbgimg"/>-->

  <div class="span16">
    <h1>Unelmista totta: Hae rahoitusta mediaprojektillesi.</h1>
    <p class="ingress">
      Yle lahjoittaa 200-2000€ mediaprojektille, jonka konseptissa loistaa tulinen intohimo, terve tekemisen meininki ja positiivinen ylpeys omaan kädenjälkeen. Jätä hakemus ja perustele, miksi juuri sinun hankkeesi ansaitsisi tulla tuetuksi. Jaettavista rahoista päättää kerran kuussa kokoontuva neuvosto.
    </p>
    <p class="ingress">#ylefolk</p>

    <div class="row-fluid selectedEvents">
      <div class="event chosen">
        <img src="img/thumb_tuuletus10p1.jpg" />
        <p class="eventTitle">
          Videoblog Lorem ipsum
        </p>
        <p class="eventDate">2000€</p>
        <a class="btn" data-toggle="tab" href="#box1">Katso hakemus</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
      <div class="event open">
        200-2000€
        <a class="btn" href="fundform.html">Hae stipendiä</a>
      </div>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade row fundDrawer" id="box1">
        <a class="closeDrawer" href="#">Sulje <span></span></a>
        <div>
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/AlZxhB2Ju9A" frameborder="0" allowfullscreen></iframe>
          </div>
          <h3>Videoblog Lorem ipsum</h3>
          <p class="eventDate">Additional information may come here</p>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. in hendrerit in vulputate velit esse.</p>

          <div class="eventShare text-left">
            <span>Jaa:</span>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="https://www.youtube.com/watch?v=Oq3jJtHAd1A" addthis:title="Custom title comes here1">
              <a class="addthis_button_facebook"><img src="img/fb_big.png" /></a>
              <a class="addthis_button_twitter"><img src="img/tw_big.png" /></a>
            </div>
            <!-- AddThis Button END -->
          </div>

          <div class="giveThumb">
            <a class="voteEvent" href="/Kampanjat/maailman-parasta-kaupunkienergiaa/peukuta-tapahtumalla-tukiraha/ihmeellinen-tapahtuma2/Vote/">Ihmeellinen tapahtuma</a>            <p>1</p>
          </div>

          <div class="text-center"><a href="fundsingleevent.html" class="seeAllEvents">Lue lisää hankkeesta</a></div>

        </div>
      </div>
    </div>

    <div class="blackborderline"></div>


    <h2>Peukuta stipendin puolesta</h2>
    <div class="row-fluid allEvents">
      <div class="event" style="background-image: url('img/thumb_rupla_bassohelenjpeg.jpg'); background-size: cover; background-repeat: no-repeat;">
        <a data-toggle="tab" href="#box2" data-href="/kampanjat/kaupunkienergiaa/kesan_tapahtumakalenteri/kadet-ilmaan---suomirappia-1986-2015/">

          <img class="fundArrow" src="img/fund_arrow.png">

          <div class="eventWrapper">
            <p class="eventTitle">KÄDET ILMAAN - Suomiräppiä 1986-2015</p>
            <p class="eventDate"></p>
            <span class="eventThumb">321</span>
          </div>
        </a>
      </div>
      <div class="event" style="background-image: url('img/thumb_img_7832_2-kopio.jpg'); background-size: cover; background-repeat: no-repeat;">
        <a data-toggle="tab" href="#box2" data-href="/kampanjat/kaupunkienergiaa/kesan_tapahtumakalenteri/kadet-ilmaan---suomirappia-1986-2015/">

          <img class="fundArrow" src="img/fund_arrow.png">

          <div class="eventWrapper">
            <p class="eventTitle">Videoblog nanonan</p>
            <p class="eventDate"></p>
            <span class="eventThumb">31</span>
          </div>
        </a>
      </div>
      <div class="event" style="background-image: url('img/thumb_alppari_logo.jpg'); background-size: cover; background-repeat: no-repeat;">
        <a data-toggle="tab" href="#box2" data-href="/kampanjat/kaupunkienergiaa/kesan_tapahtumakalenteri/kadet-ilmaan---suomirappia-1986-2015/">

          <img class="fundArrow" src="img/fund_arrow.png">

          <div class="eventWrapper">
            <p class="eventTitle">Musical tube twitter stuff</p>
            <p class="eventDate"></p>
            <span class="eventThumb">21</span>
          </div>
        </a>
      </div>
      <div class="event" style="background-image: url('img/thumb_cityfrisbeegolf.jpg'); background-size: cover; background-repeat: no-repeat;">
        <a data-toggle="tab" href="#box2" data-href="/kampanjat/kaupunkienergiaa/kesan_tapahtumakalenteri/kadet-ilmaan---suomirappia-1986-2015/">

          <img class="fundArrow" src="img/fund_arrow.png">

          <div class="eventWrapper">
            <p class="eventTitle">Snapchat share project</p>
            <p class="eventDate"></p>
            <span class="eventThumb">11</span>
          </div>
        </a>
      </div>
    </div>

    <div class="row-fluid">

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade row fundDrawer" id="box2">
          <a class="closeDrawer" href="#">Sulje <span></span></a>
          <div>
            <img class="eventBig" src="img/fund_event_big.jpg" />
            <h3>Kädet ilmaan -suomiräppiä</h3>
            <p class="eventDate">Additional information may come here</p>

            <p>Musiikkivideotuotanto bändillemme. Haluamme rahaa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. in hendrerit in vulputate velit esse.</p>

            <div class="eventShare text-left">
              <span>Jaa:</span>
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="https://www.youtube.com/watch?v=AKc1Hjjz1Ys" addthis:title="Custom title comes here2">
                <a class="addthis_button_facebook"><img src="img/fb_big.png" /></a>
                <a class="addthis_button_twitter"><img src="img/tw_big.png" /></a>
              </div>
              <!-- AddThis Button END -->
            </div>

            <div class="giveThumb">
              <a class="voteEvent" href="/Kampanjat/maailman-parasta-kaupunkienergiaa/peukuta-tapahtumalla-tukiraha/ihmeellinen-tapahtuma2/Vote/">Ihmeellinen tapahtuma</a>            <p>1</p>
            </div>

            <div class="text-center"><a href="fundsingleevent.html" class="seeAllEvents">Lue lisää hankkeesta</a></div>
          </div>
        </div>



      </div>
    </div>

    <div class="row-fluid allEvents">
      <div class="event" style="background-image: url('img/thumb_mr140607_7u6a1206.jpg'); background-size: cover; background-repeat: no-repeat;">
        <a data-toggle="tab" href="#box3" data-href="/kampanjat/kaupunkienergiaa/kesan_tapahtumakalenteri/kadet-ilmaan---suomirappia-1986-2015/">

          <img class="fundArrow" src="img/fund_arrow.png">

          <div class="eventWrapper">
            <p class="eventTitle">Videoblog nanonan</p>
            <p class="eventDate"></p>
            <span class="eventThumb">21</span>
          </div>
        </a>
      </div>
      <div class="event" style="background-image: url('img/thumb_rupla_bassohelenjpeg.jpg'); background-size: cover; background-repeat: no-repeat;">
        <a data-toggle="tab" href="#box3" data-href="/kampanjat/kaupunkienergiaa/kesan_tapahtumakalenteri/kadet-ilmaan---suomirappia-1986-2015/">

          <img class="fundArrow" src="img/fund_arrow.png">

          <div class="eventWrapper">
            <p class="eventTitle">Music video</p>
            <p class="eventDate"></p>
            <span class="eventThumb">32</span>
          </div>
        </a>
      </div>
      <div class="event" style="background-image: url('img/thumb_tuuletus10p1.jpg'); background-size: cover; background-repeat: no-repeat;">
        <a data-toggle="tab" href="#box3" data-href="/kampanjat/kaupunkienergiaa/kesan_tapahtumakalenteri/kadet-ilmaan---suomirappia-1986-2015/">

          <img class="fundArrow" src="img/fund_arrow.png">

          <div class="eventWrapper">
            <p class="eventTitle">Snapchat share project</p>
            <p class="eventDate"></p>
            <span class="eventThumb">321</span>
          </div>
        </a>
      </div>

      <div class="event" style="background-image: url('img/thumb_alppari_logo.jpg'); background-size: cover; background-repeat: no-repeat;">
        <a data-toggle="tab" href="#box3" data-href="/kampanjat/kaupunkienergiaa/kesan_tapahtumakalenteri/kadet-ilmaan---suomirappia-1986-2015/">

          <img class="fundArrow" src="img/fund_arrow.png">

          <div class="eventWrapper">
            <p class="eventTitle">Plays guitar online</p>
            <p class="eventDate"></p>
            <span class="eventThumb">31</span>
          </div>
        </a>
      </div>

    </div>

    <div class="row-fluid">

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade row fundDrawer" id="box3">
          <a class="closeDrawer" href="#">Sulje <span></span></a>
          <div>
            <img class="eventBig" src="img/fund_event_big.jpg" />
            <h3>Kädet ilmaan -suomiräppiä</h3>
            <p class="eventDate">Additional information may come here</p>

            <p>Musiikkivideotuotanto bändillemme. Haluamme rahaa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. in hendrerit in vulputate velit esse.</p>

            <div class="eventShare text-left">
              <span>Jaa:</span>
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="https://www.youtube.com/watch?v=AKc1Hjjz1Ys" addthis:title="Custom title comes here2">
                <a class="addthis_button_facebook"><img src="img/fb_big.png" /></a>
                <a class="addthis_button_twitter"><img src="img/tw_big.png" /></a>
              </div>
              <!-- AddThis Button END -->
            </div>

            <div class="giveThumb">
              <a class="voteEvent" href="/Kampanjat/maailman-parasta-kaupunkienergiaa/peukuta-tapahtumalla-tukiraha/ihmeellinen-tapahtuma2/Vote/">Ihmeellinen tapahtuma</a>            <p>1</p>
            </div>

            <div class="text-center"><a href="fundsingleevent.html" class="seeAllEvents">Lue lisää hankkeesta</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="text-center"><a class="seeAllEvents" href="fundevents.html">Katso kaikki hankkeet</a></div>

      <div class="eventShare text-right">
        <span>Jaa:</span>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_facebook"><img src="img/fb_big.png" /></a>
          <a class="addthis_button_twitter"><img src="img/tw_big.png" /></a>
        </div>
        <!-- AddThis Button END -->
      </div>

    </div>

  </div>

  <div class="push"></div>
</div>